# for OWSBot-Utils
git+https://github.com/owasp-sbot/OSBot-Utils.git@dev
python-dotenv

# for docker
git+https://github.com/owasp-sbot/OSBot-AWS.git@dev
git+https://github.com/owasp-sbot/OSBot-Docker.git@dev
boto3
docker

# for fastapi
git+https://github.com/owasp-sbot/OSBot-Fast-API.git@dev
fastapi
uvicorn
httpx

# for playwright
playwright
psutil

# for browserless
requests



# for testing
pytest
coverage
beautifulsoup4