# for OWSBot
git+https://github.com/owasp-sbot/OSBot-Utils.git@dev
python-dotenv

# for playwright
playwright
psutil

# for fastapi
git+https://github.com/owasp-sbot/OSBot-Fast-API.git@dev
fastapi
uvicorn
httpx

# for testing
pytest
coverage
beautifulsoup4


# for browserless  (refactor to separate requirements file)
requests